<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:mobile="http://www.google.com/schemas/sitemap-mobile/1.0" xmlns:video="http://www.google.com/schemas/sitemap-video/1.1" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">
    {% for x in SITEMAP_LINKS -%}
    <url>
        <loc>{{ x[0] }}</loc>
        <changefreq>{{ x[1] }}</changefreq>
        <priority>{{ x[2] }}</priority>
    </url>
    {% endfor %}
</urlset>