@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Nirmala UI';
  }

  svg {
    @apply inline-block;
  }
}

@layer utilities {
  .cursor-button {
    @apply cursor-default sm:cursor-pointer;
  }
}
